<h1><%= @user.username %>'s Profile</h1>

<%= javascript_pack_tag 'application' %>

<%= react_component("ParentComponent", { user:User.find(params[:id])}) %>

<%= link_to('Home', new_user_registration_path) %>
