<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

<% if user_signed_in? %>
  <div id="greeting">
  <h1>Hello <%= current_user.username %>!</h1>
  </div>

  <div>
    <input type="button" class='inline' onclick="location.href='/recommendations/new'" value="Create New Recommendation" />
    <input type="button" class='inline' onclick="location.href='/wishlists/new'" value="Create New Wishlist Item" />
  </div>

  <%= react_component("ParentComponent", { user:current_user, current_user:current_user }) %>
<%# <% else %>
  <%# <img src="https://i.imgur.com/CLsJCif.jpg" alt="Bean"> %> 
<% end %>

<%= javascript_pack_tag 'application' %>
