<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

<h1>Your Recommendations</h1>
<p>Here are your recommendations</p>

<%= javascript_pack_tag 'application' %>
<%= react_component("ParentComponent", { user:current_user }) %>
