<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

<h1>Hello <%= current_user.email %>!</h1>

<%= javascript_pack_tag 'application' %>
<%= react_component("ParentComponent", { user:current_user }) %>
