body {
  height: 1000px;
  background-color: rgba(192, 33, 12, 0.473);
  background-image: url(https://images.unsplash.com/photo-1580775702218-1f746c0c49b0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2849&q=80);
  color: rgb(255, 255, 255);
  margin: 33px;
  text-align: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 100px;
 }

#lists {
  border-radius: 25px;
  border: 2px solid #fcfcfc;
  margin: 20px;
  width: 500px;
  justify-content: center;
  display: inline-block;
  
 }

body, p, ol, ul, td {

  font-family: 'Allerta Stencil';
  font-size: 18px;
  line-height: 20px;
 }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }


#new-note {
  background-color: #c00;
  border-radius: 4px;
  font-family: 'Allerta Stencil';
  cursor: pointer;
  padding: 10px;
  color: #eee;
}

#new-form {
  display: inline-block;
  padding: 20px;
}

textarea {
  resize: none;
}

#new-note:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

label {
  display: block; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(117, 107, 107, 0.651);
  opacity: 0.6;
  border-top: solid;
}

header { 
  position: fixed;
  left: 0;
  width: 100%;
  background: rgba(117, 107, 107, 0.651);
  padding: 40px;
  top: 0px;
  opacity: 0.6;
  border-bottom: solid;
}

#title {
  position: absolute;
  left: 10px;
  top: 10px;
}

#home-buttons {
  position: absolute;
  top: 40px;
  left: 1250px;
}